
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}


/* Header */
header {
    height: 100vh;
    min-height: 500px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;

}
.header-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    margin-top: 4rem;
}
/* Content */

.content {
    line-height: 2rem;
    font-size: 1.2rem;
    font-family: sans-serif;
}

/* images | about page */
.about-image:first-of-type {
  padding-top: 10px;
}
.about-image {
    width: 85%;
    padding-bottom: 60px;
}

/* roster list | about page */

.roster-list li{
    border-bottom: 1px black solid;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 3px;
}

/* image | practice page */
.practice-image {
    width: 80%;
}
/* becoming a member section | contact us */

@media only screen and (min-width: 600px) {
  .be-member{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .be-member-form > input:last-of-type {
    position: relative;
    left: 35px;
  }
  .be-member-form{
    position: relative;
    left: -2.5em;
  }
}
.be-member-form > * {
  margin-top: 6px;
}

.be-member-form > input {
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-color: silver;
}

#years, .be-member-form > label:last-of-type  {
  position: relative;
  left: -1.8em;
}
.be-member-form > input:last-of-type:hover {
  background-color: blue;
  color: white;
}
.be-member-form > input:hover {
  opacity: 0.7;
}
.be-member-form > input:last-of-type {
  opacity: 1.0;
}
/* Footer */

.social a {
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #00aced;
}
.fa-instagram {
    color:#517fa4;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover {
    color:#d5d5d5;
}

.social-title {
    margin-top: 2rem;
}

.social-tag {
    margin-top: 1.3rem;
}

.footer-notice {
    color: grey;
    padding-top: .5rem;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;

}
